
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

*{
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
	font-size: 100%;
	line-height: inherit;
}
*, ::after, ::before{
	box-sizing: border-box;
}


body {
	
	font-size:14px;
	color:#787878;
	line-height:1.6em;
	font-weight:400;
	background:#ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-family: 'Rubik', sans-serif;
}